<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="device-width, initial-scale=1">
	{% load staticfiles %}
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "custom/css/trends.css" %}">
	<script src="http://maps.googleapis.com/maps/api/js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script type="text/javascript" src="{% static "custom/js/twitter_trends.js" %}"></script>
</head>
<body>
	<div id="main-sack">
		<nav class = "navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
	        		<span class="sr-only">Toggle navigation</span>
	        		<span class="icon-bar"></span>
	        		<span class="icon-bar"></span>
	        		<span class="icon-bar"></span>
	      		</button>
				<a class="navbar-brand" href="">Trends</a>
			</div>
			<div id = "example-navbar-collapse" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="#" onclick=trendSelect("#twitter");>Twitter</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Links <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="/" id="home-link"><span class="glyphicon glyphicon-home"></span> Home</a></li>
							<li class="divider"></li>
							<li><a href="http://www.endoftheinternet.com/"><span class="glyphicon glyphicon-ban-circle"></span> END</a></li>
						</ul>
					</li>
					<li><a id="date-holder"><span class="glyphicon glyphicon-calendar"></span> </a></li>
	            </ul>
			</div>
		</nav>
	</div>
	<div class="container">

		<div class="row trend" id="twitter">

			<div class="col-md-5">
				<h2>Twitter Trends.</h2>
				<p>Select a location on the map to see what's trending on Twitter there! (Under construction, so won't work yet!)</p>
				<p>
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1">Latitude</span>
						<input type="text" id="lat" class="form-control" placeholder="Latitude" aria-describedby="basic-addon1">
					</div>
				</p>
				<p>
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1">Longitude</span>
						<input type="text" id="lng" class="form-control" placeholder="Longitude" aria-describedby="basic-addon1">
					</div>
				</p>
				<div class="row">
					<div class="col-md-12" style="text-align:center;">
						<p id="twitter-location-alert" style="display:none;">Select a location first!!!</p>
						<button class="btn btn-primary" onclick=whereOnEarth();>Where on Earth!</button>
					</div>
				</div>
				<p>
					<div class="well well-lg">
						<div class="row"><div class="col-md-6">Postal Code</div><div id="twitter-postal" class="col-md-6"></div></div>
					    <div class="row"><div class="col-md-6">Neighborhood</div><div id="twitter-neighborhood" class="col-md-6"></div></div>
						<div class="row"><div class="col-md-6">City</div><div id="twitter-city" class="col-md-6"></div></div>
						<div class="row"><div class="col-md-6">County</div><div id="twitter-county" class="col-md-6"></div></div>
						<div class="row"><div class="col-md-6">State</div><div id="twitter-state" class="col-md-6"></div></div>
						<div class="row"><div class="col-md-6">Country</div><div id="twitter-country" class="col-md-6"></div></div>
						<div class="row"><div class="col-md-6">WOEID</div><div id="twitter-woeid" class="col-md-6"></div></div>
					</div>
				</p>
				<div class="col-md-12" style="text-align:center;">
					<button id="btn-closest" class="btn btn-info" style="display:none;" onclick=OnClosest();>Closest Trends</button>
				</div>
			</div>

			<div class="col-md-7">
			  	<div id="googleMap" class="right"></div>
				<script type="text/javascript">google.maps.event.addDomListener(window, 'load', initialize);</script>
			</div>

			<div id="twitter-trend-viz" class="row">
			</div>
		</div>

	</div>

	<div class="footer-clearing"></div>
	<div class="footer">
		Built using Django. Hosted on Heroku. Bootstrap CSS. <a href="https://github.com/wreckoner/mySite" target="blank">Github Repo</a>
	</div>
	<script type="text/javascript">$("#date-holder").append((new Date()).toDateString())</script>
	<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
</body>
</html>